<ScrollView>
<ActionBar backgroundColor="#fff">
    <GridLayout row="0" backgroundColor="#fff"
        verticalAlignment="top" height="40" width="100%" rows="auto" columns="*,auto,auto,auto">
        <Image col="0" row="0" horizontalAlignment="left" src="~/images/logo.png" width="32" height="32"></Image>
    </GridLayout>
</ActionBar>

<GridLayout rows="50, *" class="main-container">
    <AbsoluteLayout row="1">
        <StackLayout width="100%" #container>
            <GridLayout rows="auto, auto, auto" class="item-detail" height="100">
                <Label row="0" class="title" text="NOMBRE"></Label>
                <TextField class="item-name" row="1" [(ngModel)]='producto.nombre' autocorrect="false" autocapitalizationType="none"></TextField>
                <StackLayout rowSpan="3" *ngIf="currentDetailType !== 'name'" class="unselected-overlay"></StackLayout>
            </GridLayout>
            <GridLayout rows="auto, auto, auto" class="item-detail" height="100">
                <Label row="0" class="title" text="SKU"></Label>
                <TextField class="item-name" row="1" [(ngModel)]='producto.sku' autocorrect="false" autocapitalizationType="none"></TextField>
                <StackLayout rowSpan="3" *ngIf="currentDetailType !== 'name'" class="unselected-overlay"></StackLayout>
            </GridLayout>
            <GridLayout rows="auto, auto, auto" class="item-detail" height="100">
                <Label row="0" class="title" text="DESCRIPCIÓN"></Label>
                <TextField class="item-name" row="1" [(ngModel)]='producto.descripcion' autocorrect="false" autocapitalizationType="none"></TextField>
                <StackLayout rowSpan="2" *ngIf="currentDetailType !== 'name'" class="unselected-overlay"></StackLayout>
            </GridLayout>
            <GridLayout rows="auto, auto, auto" class="item-detail" height="100">
                <Label row="0" class="title" text="STOCK"></Label>
                <TextField class="item-name" row="1" [(ngModel)]='producto.stock' autocorrect="false" autocapitalizationType="none"></TextField>
                <StackLayout rowSpan="2" *ngIf="currentDetailType !== 'name'" class="unselected-overlay"></StackLayout>
            </GridLayout>
            <GridLayout rows="auto, auto, auto" class="item-detail" height="100">
                <Label row="0" class="title" text="PRECIO UNITARIO"></Label>
                <TextField class="item-name" row="1" [(ngModel)]='producto.precio_u' autocorrect="false" autocapitalizationType="none"></TextField>
                <StackLayout rowSpan="2" *ngIf="currentDetailType !== 'name'" class="unselected-overlay"></StackLayout>
            </GridLayout>

            <StackLayout>
                <GridLayout class="m-x-15 m-y-5 save-order btn-container save">
                    <Button text="GUARDAR PRODUCTO" (tap)="add()"></Button>
                </GridLayout>
            </StackLayout>
        </StackLayout>
    </AbsoluteLayout>
</GridLayout>
</ScrollView>
<!--  producto ( nombre VARCHAR(100), sku VARCHAR(100), descripcion TEXT, stock INT(6), precio_u DECIMAL(8,2))-->
