<ScrollView>
    <FlexboxLayout *ngIf="!isBusy" class="page" rows="*,*,*" columns="*" [isEnabled]="!isBusy">
        <StackLayout class="form">
            <Image src="~/images/logo.png"></Image>

            <TextField hint="Email" keyboardType="email" autocorrect="false"
                autocapitalizationType="none" [(ngModel)]="user.email" class="input input-border"></TextField>
            <TextField hint="Password" secure="true" [(ngModel)]="user.password"
                class="input input-border"></TextField>
            
            <TextField hint="Confirmar password" secure="true"  [(ngModel)]="user.repassword"
                class="input input-border" [visibility]="!isLoggingIn ? 'visible' : 'collapse'"></TextField>

            <Button [isEnabled]="isLoggingIn ? formValidLogin() : formValidRegister()"
                [text]="isLoggingIn ? 'Ingresar' : 'Crear cuenta'" class="btn btn-primary" (tap)="submit()"></Button>
            <Button [text]="isLoggingIn ? 'Registrar' : 'Volver'" class="btn btn-secondary"
                (tap)="toggleDisplay()"></Button>
            <!--                 <Button class="boton_principal" text="Ingresar"  [isEnabled]="formValid()" ripple pageTransition="slide" clearHistory="false" (tap)="onLogin()" ></Button>    -->
        </StackLayout>
    </FlexboxLayout>
    <ActivityIndicator *ngIf="isBusy" [busy]="isBusy" width="100" height="100" class="activity-indicator">
    </ActivityIndicator>
</ScrollView>

<!-- <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'"
    row="1" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>-->