<ActionBar backgroundColor="#fff">
    <GridLayout row="0" backgroundColor="#fff"
        verticalAlignment="top" height="40" width="100%" rows="auto" columns="*,auto,auto,auto">
        <Image col="0" row="0" horizontalAlignment="left" src="~/images/logo.png" width="32" height="32"></Image>
    </GridLayout>
</ActionBar>

<GridLayout rows="auto, *">
    <StackLayout row="0">
            <GridLayout class="m-x-15 m-y-5 save-order btn-container save">
                <Button text="AGREGAR PRODUCTO" (tap)="onNavItemTap('/add-product')"></Button>
            </GridLayout>
    </StackLayout>

    <RadListView row="1" [items]="productList" (itemSwipeProgressStarted)="onSwipeCellStarted($event)" swipeActions="true">
        <ng-template let-product="item" let-i="index">
            <Label text="{{ product.nombre }} - $ {{ product.precio_u }}" class="p-15"></Label>
        </ng-template>
                
        <GridLayout *tkListItemSwipeTemplate columns="*, auto">
            <StackLayout id="delete-view" col="1" (tap)="delete($event)" class="delete-view">
                <Image src="~/images/delete.png"></Image>
            </StackLayout>
        </GridLayout>
    </RadListView>

</GridLayout>

<ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" row="1" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>